# TODO: replace with the real compose block from Pi-hole's official docs
# https://docs.pi-hole.net/docker/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest   # TODO: pin a version tag
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: "America/New_York"   # TODO: confirm timezone
      WEBPASSWORD: "{{ vault_pihole_webpassword }}"
    volumes:
      - /opt/pihole/etc-pihole:/etc/pihole
      - /opt/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped
